*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 7px;
}
body{
    font-family: 'Electrolize', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}
a{
    text-decoration: none;
}
p{
    padding: 1.6rem 0;
    font-size: 2rem;
}
img{
    width: 100%;
    height: auto;
}
.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}
/* header start */
header{
    height: 45rem;
}
header .bg-image{
    position: absolute;
    background-image: url(img/pexels-vlad-alexandru-popa-1402787.jpg);
    height: 45rem;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
header h1 {
    padding: 7rem;
}
.btn{
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0 ;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #eaeaea;
    color: #333;
}
/* header end */

/* section-a start    */
#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}


/* section-a end */
/* section b start */

#section-b
{
    padding: 2rem;
}
#section-b ul
{
    list-style: none;
}
#section-b li 
{
    background: #fff;
    color: #333;
    margin-bottom: 1.2rem;
}
.col-content
{
    padding: 1.5rem;
}
/* section b end */
/* section c start */
#section-c{
    background-color: #eaeaea;
    color: #333;
    padding: 5rem;
}


/* section c end */
/* section d start */

#section-d .box
{
    padding: 5rem;
}

#section-d .box:first-child
{
background-color: #2690d4;
}
#section-d .box:last-child
{
background-color: black;
}


/* section d end */
/* footer start */
.footer{
    padding: 4rem;
    background: black;
}
.footer a {
    color: blue;
}

/* footer end */